<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--   <bean id="lifecycleService" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean" lazy-init="true">-->
<!--          <property name="serviceInterface" value="com.ai.sms.server.recharge.bean.wsclient.LifecycleService"/>-->
<!--          <property name="wsdlDocumentUrl" value="${wsclient.basePath}/ctzbmp/services/lifecycleService?wsdl"/>-->
<!--          <property name="namespaceUri" value="http://www.sxhealth.gov.cn/card"/>-->
<!--          <property name="serviceName" value="LifecycleService"/>-->
<!--          <property name="portName" value="LifecycleServiceImplPort"/>-->
<!--    </bean>-->
<!---->
<!--    <bean id="searchCardService" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean" lazy-init="true">-->
<!--        <property name="serviceInterface" value="com.ai.sms.server.webservice.searchCardStatus.SearchCardService"/>-->
<!--        <property name="wsdlDocumentUrl" value="${card.status.url}"/>-->
<!--        <property name="namespaceUri" value="http://www.sxhealth.gov.cn/card"/>-->
<!--        <property name="serviceName" value="SearchCardService"/>-->
<!--        <property name="portName" value="CardSearchServiceImplPort"/>-->
<!--    </bean>-->
<!--    <bean id="app" class="com.ai.common.util.ApplicationUtil"/>-->
       
</beans>